.carousel-item img {
    height: 91vh; /* Full viewport height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    width: 100%; /* Full width */
  }
  
  @media (max-width: 768px) {
    .carousel-item img {
      height: 70vh; /* Adjust height for smaller screens */
    }
  }
  
.img_slider{
  position: relative;
  top: 61px;
}
.car_text{
  background-color: rgba(0, 0, 0, 0.598);
}